<h3 class="visually-hidden">Change password</h3>

<%= form_for current_user, url: change_password_path, html: { class: "change-password-form" } do |f| %>
  <div class="user-settings__field">
    <div class="left-side">
    </div>
    <div class="right-side">
      <div class="form-notification"></div>
    </div>
  </div>

  <div class="user-settings__field">
    <div class="left-side">
      <%= f.label :old_password %>
    </div>
    <div class="right-side">
      <%= f.password_field :old_password, class: "text_field" %>
    </div>
  </div>

  <div class="user-settings__field">
    <div class="left-side">
      <%= f.label :password %>
    </div>
    <div class="right-side">
      <%= f.password_field :password, class: "text_field" %>
    </div>
  </div>

  <div class="user-settings__field">
    <div class="left-side">
      <%= f.label :password_confirmation %>
    </div>
    <div class="right-side">
      <%= f.password_field :password_confirmation, class: "text_field" %>
    </div>
  </div>

  <div class="user-settings__field">
    <div class="left-side"></div>
    <div class="right-side">
      <%= f.submit 'Submit', class: "button button--secondary" %>
    </div>
  </div>
<% end %>
