<div class="information_section">
  <div class="information_section__user-profile">
    <%= link_to user_page_path(photo.user) do %>
      <%= image_tag(photo.user.avatar.url(:thumb), alt: "#{photo.user.username}'s profile picture", class: 'information_section__user-profile-photo') %>
    <% end%>
    <%= link_to photo.user.username, user_page_path(photo.user), class: 'information_section__user-profile-username' %>
  </div>

  <div class="information_section__stats">
    <div class="information_section__photo-stats clearfix">
      <span class="like-counter information_section__likes" id="<%= "like-counter-#{photo.id}" %>" aria-label="<%= "#{photo.likes.count}" %> likes">
        <span><%= photo.likes.count %></span> likes
      </span>

      <span class="information_section__created-at">
        <%= photo_date(photo.created_at).to_s %>
      </span>
    </div>

    <%= render 'comments/comment-box', photo: photo %>

    <%= render 'photo/interaction_bar', photo: photo %>

  </div>
</div>
