<div class="photo-page__container single-photo">
  <div class="photo-page__photo">
    <%= image_tag @photo.image.url(:large) %>
  </div>
  <div class="photo-page__infos">
    <div class="photo-page__user-profile">
      <%= link_to image_tag(@photo.user.avatar.url(:thumb), class: 'photo-page__user-profile-photo'), user_page_path(@photo.user) %>
      <%= link_to @photo.user.username, user_page_path(@photo.user), class: 'photo-page__user-profile-username' %>
    </div>

    <div class="photo-page__stats">
      <div class="photo-page__photo-stats clearfix">
        <span class="like-counter photo-page__likes">
          <span><%= @photo.likes.count %></span> likes
        </span>

        <span class="photo-page__created-at">
          <%= photo_date(@photo.created_at).to_s %>
        </span>
      </div>

			<%= render 'comments/comment-box', {photo: @photo, classname: 'photo-page__'} %>

      <div class="photo-page__interation">

        <%= link_to like_photo_path, class: 'like-button photo-page__like-button', remote: true do %>
        <% if @photo.likes.where({user_id: current_user}).first %>
          <%= image_tag "heart-icon-filled" %>
        <% else %>
          <%= image_tag "heart-icon" %>
        <% end %>
        <% end %>
        <%= render 'comments/form', photo: @photo %>
      </div>

    </div>
  </div>
</div>
