<div class="photo-page">
  <div class="photo-page__container">
    <%= image_tag @photo.image.url(:large), class: 'photo-page__photo'%>
    <div class="photo-page__infos">
      <div class="photo-page__user-profile">
        <%= link_to image_tag(@photo.user.avatar.url(:thumb), class: 'photo-page__user-profile-photo'), user_page_path(@photo.user) %>
        <%= link_to @photo.user.username, user_page_path(@photo.user) %>
      </div>

      <div class="photo-page__stats">
        <div class="photo-page__photo-stats clearfix">
          <span class="photo-page__likes">
            <%= @photo.likes.count %> likes
          </span>

          <span class="photo-page__created-at">
            <%= photo_date(@photo.created_at).to_s %>
          </span>
        </div>

        <div class="photo-page__comment-box">
          <ul class="photo-page__comment-list">
            <li class="photo-page__single-comment">
              <h1>
                <%= link_to @photo.user.username, user_page_path(@photo.user), class: 'photo-page__comment-username' %>
                <span class="photo-page__comment-text">
                  <%= @photo.description%>
                </span>
              </h1>
            </li>
            <% for comment in @photo.comments %>
            <li class="photo-page__single-comment">
              <h1>
                <%= link_to comment.user.username, user_page_path(comment.user.id), class: 'photo-page__comment-username' %>
                <span class="photo-page__comment-text">
                  <%= comment.text %>
                </span>
              </h1>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="photo-page__interation">
          <%= button_to '<3', like_photo_path, class: 'photo-page__like-button' %>
          <%= render 'comment/form', photo: @photo %>
        </div>

      </div>
    </div>
  </div>
</div>
