<div class="timeline">
  <div class="timeline__photos-list">
    <% if @photos.length != 0 %>
      <% for photo in @photos %>
      <div class="timeline__single-photo">
        <div class="timeline__photo-avatar">
          <%= link_to image_tag(photo.user.avatar.url(:thumb), class: 'timeline__photo-avatar-picture'), user_page_path(photo.user) %>
          <%= link_to photo.user.username, user_page_path(photo.user) %>
        </div>

        <div class="timeline__photo-container">
          <%= image_tag photo.image.url(:large), class: 'timeline__photo' %>
        </div>

        <div class="timeline__photo-user-interaction">
          <div class="photo-page__interation">
            <%= button_to '<3', like_photo_path(photo), class: 'timeline__photo-like-button' %>
            <p class="timeline__photo-like-count"><%= photo.likes.count %> likes</p>
          </div>
        </div>

        <%= render 'comment/comment-box', {photo: photo, classname: 'timeline__photo-'} %>
        <%= render 'comment/form', photo: photo %>

      </div>
      <% end %>
    <% end %>
  </div>
</div>
