<div class="user-profile clearfix">
  <%= image_tag @user.avatar.url(:medium), class: 'user-profile__photo' %>
  <div class="user-profile__right-side">
    <div class="user-profile__actions">

    <h2 class="user-profile__username"><%= @user.username %></h2>

    <% if current_user.id == @user.id %>
      <%= link_to 'Edit profile', edit_user_path, class: 'button user-profile__edit-profile' %>
      <%= link_to 'Add photo', create_photo_path, class: 'button user-profile__add-photo' %>
      <%= link_to 'Log out', logout_path, class: 'button user-profile__logout' %>
    <% end %>

    <% if @user.pending_following_relationships.find_by_followed_id(current_user.id) %>
        <%= link_to 'Accept', accept_relationship_path, data: { relationship_id: @user.pending_following_relationships.find_by_followed_id(current_user.id).id }, class: 'user-profile__unfollow-user pending-relationship-control' %>
        <%= link_to 'Decline', decline_relationship_path, data: { relationship_id: @user.pending_following_relationships.find_by_followed_id(current_user.id).id }, class: 'user-profile__unfollow-user pending-relationship-control' %>
    <% end %>

    <% if current_user.id != @user.id %>
      <% if current_user.following_relationships.find_by_followed_id(@user.id) %>
          <%= button_to 'Unfollow', unfollow_user_path, class: 'user-profile__unfollow-user relationship-control' %>
      <% elsif current_user.pending_following_relationships.find_by_followed_id(@user.id) %>
          <%= button_to 'Pending', unfollow_user_path, class: 'user-profile__unfollow-user relationship-control' %>
      <% else %>
          <%= button_to 'Follow', follow_user_path, class: 'user-profile__follow-user relationship-control' %>
       <% end %>
    <% end %>
    </div>

    <div class="user-profile__counters">
      <p class="user-profile__counter"><span class="follower-counter"><%= @user.follower_relationships.length %></span> Followers</p>
      <p class="user-profile__counter"><span class="following-counter"><%= @user.following_relationships.length %></span> Following</p>
      <p class="user-profile__counter"><span><%= @user.photos.length %></span> Posts</p>
    </div>

    <div class="user-profile__infos">
      <% if @user.name || @user.biography%>
        <p>
          <span class="user-profile__name"><%= @user.name %></span>
          <span class="user-profile__biography"><%= @user.biography %></span>
        </p>
    	<% end %>
    </div>
  </div>
</div>

<div class="user-photos clearfix">
  <% for photo in @user.photos.sort_by { |photo| photo.created_at }.reverse %>
  <div class="user-photos__single">
    <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo) %>
  </div>
  <% end %>
</div>
