<div class="user-profile clearfix">
  <%= image_tag @user.avatar.url(:small), class: 'user-profile__photo' %>
  <div class="user-profile__infos">
    <h1 class="user-profile__username"><%= @user.username %></h1>
    <%= link_to button_tag('Edit profile'), edit_user_path, class: 'user-profile__edit-profile' %>

    <% if current_user.id != @user.id %>
    <%= button_to 'Follow', follow_user_path, class: 'user-profile__follow-user' %>
    <% end %>

    <%= button_to 'Log out', logout_path, class: 'user-profile__logout' %>
    <%= link_to  button_tag('Add photo'), create_photo_path, class: 'user-profile__add-photo' %>
    <p>Posts: <%= @user.photos.length %></p>
    <p><%= @user.name %></p>
  </div>
</div>

<div class="user-photos clearfix">
  <% for photo in @user.photos.sort_by { |photo| photo.created_at }.reverse %>
  <div class="user-photos__single">
    <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo) %>
  </div>
  <% end %>
</div>
