<div class="user-profile clearfix">
  <%= image_tag @user.avatar.url(:small), class: 'user-profile__photo' %>
  <div class="user-profile__infos">
    <h1 class="user-profile__username"><%= @user.username %></h1>
    <%= link_to button_tag('Edit profile'), edit_user_path, class: 'user-profile__edit-profile' %>

    <% if current_user.id != @user.id %>
      <% if current_user.following_relationships.find_by_followed_id(@user.id) %>
          <%= button_to 'Unfollow', unfollow_user_path, class: 'user-profile__unfollow-user relationship-control', data: { 'inverse': 'Follow', 'inverse-action': follow_user_path } %>
        <% else %>
          <%= button_to 'Follow', follow_user_path, class: 'user-profile__follow-user relationship-control', data: { 'inverse': 'Unfollow', 'inverse-action': unfollow_user_path } %>
       <% end %>
    <% end %>


    <%= button_to 'Log out', logout_path, class: 'user-profile__logout' %>
    <%= link_to  button_tag('Add photo'), create_photo_path, class: 'user-profile__add-photo' %>
    <p>Followers: <span class="user-profile__follower-counter"><%= @user.followers.length %></span></p>
    <p>Following: <span class="user-profile__following-counter"><%= @user.followings.length %></span></p>
    <p>Posts: <%= @user.photos.length %></p>
    <% if @user.name %>
    <p><%= @user.name %></p>
		<% end %>
		<% if @user.biography %>
	  <p><%= @user.biography %></p>
		<% end %>
  </div>
</div>

<div class="user-photos clearfix">
  <% for photo in @user.photos.sort_by { |photo| photo.created_at }.reverse %>
  <div class="user-photos__single">
    <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo) %>
  </div>
  <% end %>
</div>
