<div class="form__container form__container--login">
  <%= image_tag "written_insta.png", class: "form__title" %>
  <%= form_tag login_path do %>
      <%= text_field_tag :username, nil, placeholder: "Username", class: "form__field" %>
      <%= password_field_tag :password, nil, placeholder: "Password", class: "form__field" %>
      <%= submit_tag 'Log in', class: "form__submit-button" %>
      <%= render 'flash_messages' %>
  <% end %>
</div>
<div class="form__helper">
  <p>
    You don't have an account? <%= link_to 'Sign up', signup_path, class: "link" %>
  </p>
</div>
