<div class="interation-bar">
  <%= link_to like_photo_path(photo), class: 'like-button' do %>
    <% if photo.likes.where({user_id: current_user}).first %>
      <%= image_tag "heart-icon-filled" %>
    <% else %>
      <%= image_tag "heart-icon" %>
    <% end %>
  <% end%>

  <%= form_for Comment.new, url: create_comment_path(photo) do |f| %>
    <%= f.text_field :text, placeholder: "Add a comment" %>
  <% end %>
</div>
