<header class='main-header'>
  <div class="main-header__menu">
    <div class="main-header__menu-sections">
      <%= link_to image_tag('instagram-icon'), timeline_path, class: "main-header__logo" %>
      <%= link_to image_tag('written_insta.png'), timeline_path, class: "main-header__written-logo" %>
    </div>
    <div class="main-header__menu-sections">
      <form>
        <input type="text" name="name" value="" placeholder="Search" class="main-header__search">
      </form>
    </div>
    <div class="main-header__menu-sections">
      <%= link_to image_tag('bussola-icon'), users_list_path, class: "main-header__menu-icons" %>
      <%= link_to image_tag('heart-icon'), notifications_path(current_user), class: "main-header__menu-icons" %>
      <%= link_to image_tag('user-icon'), user_page_path(current_user), class: "main-header__menu-icons" %>
    </div>
  </div>
</header>
